body {
    background-color: rgb(9, 8, 9);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}




header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.inc{
    background-color: transparent;
    color:rgb(255, 251, 251);
    font-size: 15px;
    font-family: helvetica;
    /*text-decoration: underline;*/
    position: fixed;
    right: 450px;
    top: 40px;
}
.mb{
    background-color: transparent;
    color:rgb(255, 251, 251);
    font-size: 15px;
    font-family: helvetica;
    /*text-decoration: underline;*/
    position: fixed;
    right: 325px;
    top:40px
}
.flc{
    background-color: transparent;
    color:rgb(255, 251, 251);
    font-size: 15px;
    font-family: helvetica;
    /*text-decoration: underline;*/
    position: fixed;
    right: 220px;
    top:40px
}
.inc:hover,
.mb:hover,
.flc:hover{
    text-decoration: underline;
}
.logo{
    width: 150px;
    position:relative;
    left: 10px;
}

.csc{
    position: fixed;
    top: 30px;
    right: 90px;
    padding: 10px 20px;
    background-color: rgb(245, 208, 113);
    border-radius: 5%;
}

.ent{
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 10px;
    background-color: rgb(245, 208, 113);
    border-radius: 5%;
}
.psq {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.psq input[type="text"] {
    height: 40px;
    width: 200px;
    padding-right: 40px;
}

.psq button {
    height: 40px;
    width: 40px;
    padding: 5px;
    background: rgb(245, 208, 113);
    border: 40%;
}

.psq img {
    max-height: 100%;
    max-width: 100%;
}

.s1{
    position: relative;
    align-items: center;
    justify-content: center;
    top: 10px;
    left: 750px;

}

h1{
    color: white;
    border: black;
    font-size: 50px;
    font-family:'Segoe UI';
    position: relative;
    bottom: 50%;
    left: -10%;
    top: 160px;
    white-space: nowrap;
    text-shadow: -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 2px 2px 2px black;

}

.cat{
    position: relative;
    top: 250PX;
    right: 850PX;

}